<% provide(:title, t("title.about")) %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= t("mainContent.about") %></h1>
    <p>
      <%= t("subContent.about.first") %> <%= link_to t("page.main"), t("link.tutorialPage") %>
      <%= t("subContent.about.second") %><%= link_to t("page.screencast"), t("link.screencastsPage") %>
      <%= t("subContent.about.third") %><%= link_to t("name"), t("link.mainPage") %>
      <%= simple_format h t("subContent.about.fourth") %>
    </p>
  </body>
</html>
