<% provide(:title, t("title.help")) %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= t("mainContent.help") %></h1>
    <p>
      <%= t("subContent.help.first") %>
      <%= link_to t("page.help"), t("link.helpPage") %>
      <%= t("sub_Content.Help.second") %>
      <%= link_to t("page.book"), t("link.tutorialPage") %>
    </p>
  </body>
</html>
